.category {
    justify-self: end;
    display: flex;
    flex-direction: column;
    /*padding: 1rem 1rem 0.8rem 1rem;*/
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
  }
  img {
    width: 100%;
  }
  .categorytext {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 3rem;
  }
  .border {
    border: 3px solid #11b800;
  }