.sidebar {
    width: 40vw;
    margin-top: 10vh;
    margin-left: 50px;
  }
  
  .heading {
    font-family: "Single Day", cursive;
    color: #72db73;
    font-size: 3.3rem;
  }
  .text {
    font-size: 3rem;
    color: #fff;
    line-height: 100%;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 3rem 0;
  }
  .error {
    color: red;
    margin-top: 2rem;
    font-size: 1.5rem;
  }
  .error span {
    margin-right: 0.7rem;
  }